*{
    margin: 10px;
    padding: 0px;
    font-family: 'Ubuntu Mono', monospace;
}
.person--data__container{
    border-top: 2px solid darkred;
    width: 50%;
}
.app--header{
    background-color: brown;
    width: 50%;
    font-size: 30px;
}
.input--mail{
    height: 30px;
}
.input--name{
    height: 30px;
}
